:root {
  --iris: #4d5ae5;
  --logo-black: #000000;
  --white-color: #ffffff;
  --button-filter: #f5f4fa;
  --background-black: #2e2f42;
  --text-white-opacity: rgba(255, 255, 255, 0.6);
  --primary-text-color: #434455;
  --navyblue: #2e2f42;
  --primary-black-color: #000000;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-raleway: "Raleway", "sans-serif";
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 60px;
  font-style: normal;
}
h2 {
  color: var(--navyblue);
  text-align: center;
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}
p {
  margin: 0;
  line-height: 25px;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
}
a {
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--font-family-roboto);
  background-color: var(--white-color);
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 400 900;
  letter-spacing: 0.32px;
}

/* logo*/
.logo {
  color: var(--iris);
  font-family: var(--font-family-raleway);
  font-weight: 800;
  line-height: 1.2px;
}

.logo-black {
  color: var(--logo-black);
}

.logo-white {
  color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section2 {
  width: 1440px;
}

/* header */
/* 
page-header
  container-menu
    navigation
      logo
        logo-black
      nav-menu-list
        list-item
          page-current-link
        list-item
          page-link
        list-item
          page-link    
  address
    contacts-menu-link
      list-item
        contact-link
      list-item
        contact-link  

*/
header {
  display: flex;
}

address {
  font-style: normal;
}

.page-header,
.container-menu,
.navigation,
.nav-menu-list,
.contacts-menu-list {
  display: flex;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
}
.container-menu {
  margin-left: 156px;
}

.nav-menu-list .list-item:not(:last-child),
.contacts-menu-list .list-item:not(:last-child) {
  margin-right: 50px;
}
/*footer*/
header [class="logo"],
footer > .logo {
  text-decoration: none;
}
footer {
  background-color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  display: flex;
}
footer > .logo {
  margin-top: 101.5px;
  margin-bottom: 17.5px;
}
.logo {
  margin-left: 156px;
}
.footer-text {
  text-align: left;
  color: var(--white-color);
  margin-bottom: 100px;
  width: 264px;
  height: 72px;
  margin-top: 140px;
}

/* button */

.button-orderservice {
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: var(--white-color);
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: 636px;
  margin-bottom: 188px;
  margin-right: 635px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: var(--iris);
  text-align: center;
  cursor: pointer;
}

.button-port-nav:hover,
.button-port-nav:focus {
  background-color: var(--iris);
  color: var(--cloud);
  text-align: center;
  cursor: pointer;
  display: flex;
}

.button-port-nav {
  background-color: var(--cloud);
  display: flex;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  color: var(--iris);
  text-align: center;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400 900;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
}

.nav-menu-list .page-header,
.container-menu,
.contacts-menu-list .contacts-menu-list .page-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 19px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: center;
  align-content: center;
}

.nav-menu-list .page-link:hover,
.nav-menu-list .page-link:focus,
.nav-menu-list .page-current-link,
.contacts-menu-list .contact-link:hover,
.contacts-menu-list .contact-link:focus {
  color: var(--navyblue);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.list-port-nav {
  display: flex;
  gap: 8px;
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.list-port-nav {
  justify-content: center;
}
/*1st section*/

.hero-bg-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  justify-content: center;
  background-color: var(--background-black);
  align-content: center;
  position: center;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  align-items: center;
}

.hero-title {
  margin-bottom: 0px;
  margin-right: 472px;
  margin-left: 472px;
  font-family: var(--font-family-roboto);
  color: var(--white-color);
  width: 496px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

/*2nd section*/
.container-2 {
  padding: 5px;
  margin-left: 156px;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  justify-content: center;
}

.container-2 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
}

.container-2 > .list > .item {
  /*  Set the width of the elements  */

  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.container-2 > .list > .item h3 {
  margin-top: 0;
  font-size: 20px;
  text-align: left;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.container-2 > .list > .item p {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 264px;
}

/*3nd section- what are we doing*/

.container-3 {
  padding: 5px;
  margin-left: 156px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 120px;
}

.container-3 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  margin-top: 72px;
}
.container-3 > .list > .item {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*4th section*/
/*our team */

.section-our-team {
  background-color: var(--cloud);
  margin-top: 120px;
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  margin-bottom: 120px;
}

.container-4 {
  margin-left: 156px;
  margin-right: auto;
  width: 1440px;
  height: 732px;
}

.container-4 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
}
.container-4 > .list > img,
.teamcard {
  width: 264px;
  height: 260px;
  padding: 0;
}
.container-4 > .list > .teamcard-section {
  /*  Set the width of the elements  */
  height: 380px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}

.container-4 > .list > .teamcard-section h3 {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container-4 > .list > .teamcard-section p {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*PORTFOLIO*/

.portfolio {
  width: 1440px;
  height: auto;
  flex-shrink: 0;
  margin-bottom: auto;
  border-bottom: 1px solid #ececec;
  display: flex;
}

.portcontainer1 {
  display: flex;
  gap: 8px;
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.portcontainer1 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
}
.portcontainer1 > .list > img {
  width: 264px;
  height: 260px;
  padding: 0;
}
.portcontainer1 > .list {
  /*  Set the width of the elements  */
  height: 380px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  padding-bottom: 32px;
}

.portcontainer1 > .list > h3 {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portcontainer1 > .list > p {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portcontainer2 {
  margin-left: 156px;
  margin-right: auto;
  width: 1440px;
  height: 732px;
}

.portcontainer2 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
}
.portcontainer2 > .list > img {
  width: 264px;
  height: 260px;
  padding: 0;
}
.portcontainer2 > .list {
  /*  Set the width of the elements  */
  height: 380px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  padding-bottom: 32px;
}

.portcontainer2 > .list > h3 {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portcontainer2 > .list > p {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portcontainer3 {
  margin-left: 156px;
  margin-right: auto;
  width: 1440px;
  height: 732px;
}

.portcontainer3 > .list {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
}
.portcontainer3 > .list > img {
  width: 264px;
  height: 260px;
  padding: 0;
}
.portcontainer3 > .list {
  /*  Set the width of the elements  */
  height: 380px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  padding-bottom: 32px;
}

.portcontainer3 > .list > h3 {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portcontainer3 > .list > p {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*

.container-menu,
.contacts-menu-list,
nav-menu-list {
}


/* Header */
/*


.portfolio {
  padding: 5px;
  margin-left: 156px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 120px;
}
*/

/*
.portcontainer > .list {
  display: flex;
  /* Make a flex container multiline */
/*
  flex-wrap: wrap;

  /* Set gap between rows and columns */
/*
  gap: 10px;
  padding: 0;
  margin-top: 72px;
}*/
/*
.portcontainer > .list > .item {
  margin: 0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}




*/
